/* ex1  */
.ex-1-square {
  transition: all 3s;
}

.ex-1-square:hover {
  background-color: red;
}

/* ex2  */
.ex-2-square {
  transition: all 3s;
}

.ex-2-square:active {
  width: 600px;
}

/* ex3  */
.ex-3-square {
  transition: all 3s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* ex4  */
.ex-4-square {
  transition: all 3s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* ex5  */
.ex-5-square {
  transition: all 3s;
}

.ex-5-square:hover {
  scale: 2;
}

.ex-5-square:active {
  scale: 1;
}

/* ex6  */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* ex7 */
.ex-7-img {
  transition: all 3s;
}

.ex-7-img:hover {
  filter: grayscale(.8) sepia(.6);
}

/* ex8  */
.ex-8-img {
  transition: all 3s;
}

.ex-8-img:hover {
  filter: grayscale(1) sepia(.6);
  border-radius: 10px;
}

/* ex9  */
.ex-9-img {
  transition: all 3s;
}

.ex-9-img:hover {
  filter: grayscale(.8) sepia(.6);
  border-radius: 10px;
  scale: 1.5;  
}